@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 12px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background-color: purple;
  color: white;
}

body {
  height: 100dvh;
}

.ql-editor {
  font-size: 1.05rem;

}

.post-content { 
  text-wrap: wrap !important;
  overflow: hidden;
}
.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem; 
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
color: rgba(73, 149, 199);
text-decoration: none;
}

.post-content a:hover { 
text-decoration:underline;
}
.dark .post-content a{
  color: red !important;
}